*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

body{
    background-color: lightgray;
}

. wrapper {
    width 100%;
    max-width: 960px;
    margin: 0 auto; 
}

.flex-container{
    display: flex;
}

.box{
    height: 100px;
    min-width: 100px;
}

.one{background-color: white;}

.two{background-color: lightblue;

}

.three{background-color: aquamarine;}